<div class="customer-actions">
  <button mat-button color="primary" (click)="openDialog()">New customer</button>
</div>
<br>
<div class="customers-table">
  <ng-container *ngIf="customers$ | async as customers; else loading">
    <ng-container *ngIf="customers.length > 0 else noRecords">
      <app-table [columns]="customerTableColumns"
                 [items]="customers"
                 (onClickedRow)="openDialog($event)">
      </app-table>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <div class="loader">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>

<ng-template #noRecords>
  <mat-card>
    <mat-card-content>No records found</mat-card-content>
  </mat-card>
</ng-template>


